/* RESET */
a {
  color: blue;
  text-decoration: none;
}

h1 {
  color: darkblue;
  padding-bottom: 20px;
}

h2 {
  color: rgb(3, 128, 252);
  padding-bottom: 10px;
}

h3 {
  font-size: 21px;
  color: rgb(75, 75, 75);
}

h4 {
  color: white;
  font-size: 30px;
}

section {
  padding: 15px;
}

article {
  padding-bottom: 30px;
}

article p {
  padding-bottom: 10px;
}

form {
  border: 1px solid black;
  padding: 5px;
}

form p {
  padding: 10px;
}

input {
  border: 1px solid black;
  padding: 5px;
  font-size: 15px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

/* EJEMPLOOOOOOO */
@keyframes buttonAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.navbar {
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  background-color: #08274e;
}

.nav-link {
  color: lightgray;
  padding-left: 5px;
  transition: 0.3s;
}

.nav-link:hover {
  color: black;
  background-color: yellowgreen;
}

.active {
  background-color: lightgray;
  border-bottom: 3px solid blue;
}

.navbar-toggler {
  background-color: lightgray;
}

.offcanvas-header {
  background-color: #08274e;
}

.offcanvas-body {
  background-color: #08274e;
}

.btn-close {
  background-color: lightgray;
}

.grid-section {
  padding: 0px;
}

.footer-main-section {
  background-color: #333;
  color: white;
}

.item0 {
  grid-area: item0;
  width: 50px;
}

.item1 {
  grid-area: item1;
  width: 50px;
}

.item2 {
  grid-area: item2;
}

.item2 {
  grid-area: item2;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.item8 {
  grid-area: item8;
}

.item8 p {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: "item0 item2 item3 item4 item5 item1" "item0 item6 item6 item6 item7 item1" "item0 item8 item8 item8 item8 item1";
  gap: 3px;
  background-color: white;
  padding: 25px;
}

.grid-container div {
  background-color: white;
  padding: 10px;
  font-size: 12px;
}

.footer-highlight-text {
  color: #036e9c;
  font-size: 12px;
  text-align: center;
}

.footer-text {
  /* calc based on three .footer-media widths and some adjustment */
  width: calc(100% - 70px);
  display: inline-block;
  vertical-align: text-top;
  font-size: 16px;
}

.footer-media {
  display: inline-block;
}

svg {
  fill: lightgray;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

svg:hover {
  fill: white;
  transform: scale(1.2);
}

.a-forgot-password {
  text-decoration: none;
  text-align: right;
  display: block;
  padding-right: 10px;
}

.index-main-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.material-icon-index,
.material-icon-about,
.material-icon-benefit,
.material-icon-virtual-room {
  font-size: 64px;
}

.material-icon-done {
  font-size: 24px;
}

.img-social-media {
  width: 32px;
  height: 32px;
}

.img-virtual-room-header {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: none;
}

.custom-button {
  background-color: #0074D9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: #015eaf;
  animation: buttonAnim 1.5s ease 0s 1 normal forwards;
}

.index-main-cards {
  display: flex;
  align-self: flex-start;
}

.index-main-card {
  padding: 5px;
  margin: 5px;
  width: 50%;
  display: inline-block;
}

.info-card {
  padding: 5px;
  margin: 5px;
  width: 200px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  transition: 0.3s;
}

.info-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.info-card p {
  padding: 10px;
  text-align: right;
}

.about-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.about-card p {
  padding: 10px;
}

.benefit-cards {
  display: flex;
  flex-wrap: wrap;
}

.benefit-card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 400px;
  flex-grow: 1;
}

.benefit-card p {
  padding: 10px;
}

#car-code,
#contact-first-name,
#contact-last-name,
#contact-phone,
#contact-email,
#contact-text,
#virtual-room-document-id,
#virtual-room-password {
  box-sizing: border-box;
  width: 100%;
}

.virtual-room-card {
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
  background-color: lightgray;
  width: 300px;
  height: 120px;
}

.virtual-room-card div {
  padding-top: 15px;
  padding-left: 5px;
  display: flex;
}

.img-logo {
  height: 50px;
  object-fit: cover;
}

.virtual-room-red-button {
  background-color: #d93a3e;
  color: white;
  border: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

.virtual-room-red-button:hover {
  background-color: darkred;
  color: lightgray;
}

.red-text {
  color: #d93a3e;
}

.carousel-caption {
  text-align: left;
}

/*
   _____             .___.__         ________                      .__
  /     \   ____   __| _/|__|____    \_____  \  __ __   ___________|__| ____   ______
 /  \ /  \_/ __ \ / __ | |  \__  \    /  / \  \|  |  \_/ __ \_  __ \  |/ __ \ /  ___/
/    Y    \  ___// /_/ | |  |/ __ \_ /   \_/.  \  |  /\  ___/|  | \/  \  ___/ \___ \
\____|__  /\___  >____ | |__(____  / \_____\ \_/____/  \___  >__|  |__|\___  >____  >
        \/     \/     \/         \/         \__>           \/              \/     \/
*/
@media only screen and (max-width: 768px) {
  .index-main-cards {
    flex-direction: column-reverse;
  }
  .index-main-card {
    width: 100%;
  }
  .index-main-img {
    height: 150px;
  }
  .footer-text {
    font-size: x-small;
  }
  .grid-container div {
    text-align: start;
  }
  .grid-container {
    grid-template-areas: "item0 item2 item1" "item0 item3 item1" "item0 item4 item1" "item0 item5 item1" "item0 item6 item1" "item0 item7 item1" "item0 item8 item1";
  }
  .virtual-room-card {
    display: none;
  }
  #carouselVirtualRoom {
    display: none;
  }
  .img-virtual-room-header {
    display: inline;
  }
}
/* Used for main page only */
@media only screen and (max-width: 454px) {
  .info-card {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
