h1 {
    color: blue;
    padding-bottom: 20px;
}

h2 {
    color: lightskyblue;
    padding-bottom: 10px;
}

h3 {
    color: gray;
}

h4 {
    color: black;
}

.a-social-network {
    text-decoration: none;
}

.a-forgot-password {
    text-decoration: none;
    text-align: right;
    display: block;
    padding-right: 10px;
}

/* TODO: remove this */
.img-300x300 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.index-main-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* TODO: remove this */
.img-64x64 {
    width: 64px;
    height: 64px;
}

.material-icon-index,
.material-icon-about,
.material-icon-benefit {
    font-size: 64px;
}

/* TODO: remove this */
.img-32x32 {
    width: 32px;
    height: 32px;
}

.img-16x16 {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.img-header {
    width: 100%;
    height: 96px;
    object-fit: cover;
}

section {
    padding: 15px;
}

article {
    padding-bottom: 30px;
}

article p {
    padding-bottom: 10px;
}

form {
    border: 1px solid black;
    padding: 5px;
}

form p {
    padding: 10px;
}

input {
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
}

button {
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 25px;
    text-decoration: none;
}

button:hover {
    background-color: darkgray;
}

button:active {
    position: relative;
    top: 1px;
}

.index-main-cards {
    display: flex;
    align-self: flex-start;
}

.index-main-card {
    padding: 5px;
    margin: 5px;
    width: 50%;
    display: inline-block;
}

.info-cards {
    /* display: flex; */
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    /* display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows:max-content; */
}

.info-card {
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
    width: 200px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
}

.info-card:hover {
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.info-card p {
    padding: 10px;
    text-align: right;
}

.about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

/* .about-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 600px;
    display: inline-block;
} */

.about-card p {
    padding: 10px;
}

.benefit-cards {
    /* display: flex;
    align-content: flex-start; */
}

.benefit-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 400px;
    display: inline-block;
}

.benefit-card p {
    padding: 10px;
}

#car-code,
#contact-first-name,
#contact-last-name,
#contact-phone,
#contact-email,
#contact-text {
    box-sizing: border-box;
    width: 100%;
}

#virtual-room-document-id,
#virtual-room-password,
#virtual-room-start-session,
#virtual-room-register {
    width: 450px;
}

.virtual-room-floating {
    position: relative;
}

.virtual-room-cards {
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: -100px;
    left: 600px;
}

.virtual-room-card {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
    width: 300px;
    height: 120px;
}

.virtual-room-card div {
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
}

.img-logo {
    height: 50px;
    object-fit: cover;
}

/* BOOTSTRAP CUSTOMIZATION */

.navbar {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    background-color: #08274e;
}

.nav-link {
    color: lightgray;
    padding-left: 5px;
}

.nav-link:hover {
    color: black;
    background-color: gray;
}

.active {
    background-color: lightgray;
    border-bottom: 3px solid cyan;
}

.navbar-toggler {
    background-color: lightgray;
}

.offcanvas-header {
    background-color: #08274e;
}

.offcanvas-body {
    background-color: #08274e;
}

.btn-close {
    background-color: lightgray;
}

/* FOOTER & FOOTER GRID */

.grid-section {
    padding: 0px;
}

.footer-main-section {
    background-color: lightgray;
}

.item0 {
    grid-area: item0;
    width: 50px;
}

.item1 {
    grid-area: item1;
    width: 50px;
}

.item2 {
    grid-area: item2;
}

.item2 {
    grid-area: item2;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item8 p {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'item0 item2 item3 item4 item5 item1'
    'item0 item6 item6 item6 item7 item1'
    'item0 item8 item8 item8 item8 item1';
    gap: 3px;
    background-color: white;
    padding: 25px;
}

.grid-container div {
    background-color: white;
    padding: 10px;
    font-size: 12px;
}

.footer-highlight-text {
    color: #29abe2;
    font-size: 12px;
    text-align: center;
}

.footer-text {
    /* calc based on three .footer-media widths and some adjustment */
    width: calc(100% - 110px);
    display: inline-block;
    vertical-align: text-top;
    font-size: smaller;
}

.footer-media {
    display: inline-block;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .index-main-cards {
        flex-direction: column-reverse;
    }

    .index-main-card {
        width: 100%;
    }

    .index-main-img {
        height: 150px;
    }

    .footer-text {
        font-size: x-small;
    }

    .grid-container div {
        text-align: start;
    }

    .grid-container {
        grid-template-areas:
        'item0 item2 item1'
        'item0 item3 item1'
        'item0 item4 item1'
        'item0 item5 item1'
        'item0 item6 item1'
        'item0 item7 item1'
        'item0 item8 item1';
    }
}

/* Used for main page */
@media only screen and (max-width: 454px) {
    .info-card {
        width: 100%;
    }
}

/* Used for benefit page */
@media only screen and (max-width: 854px) {
    .benefit-card {
        width: 100%;
    }
}
