//import base
@import 'base/vars';
@import 'base/reset';
@import 'base/utilities';

//import components
@import 'components/navbar';
@import 'components/footer';

.a-forgot-password {
    text-decoration: none;
    text-align: right;
    display: block;
    padding-right: 10px;
}

.index-main-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.material-icon-index,
.material-icon-about,
.material-icon-benefit,
.material-icon-virtual-room {
    font-size: 64px;
}

.material-icon-done {
    font-size: 24px;
}

.img-social-media {
    width: 32px;
    height: 32px;
}

.img-virtual-room-header {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: none;
}

.custom-button {
    background-color: #0074D9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-button:hover {
    background-color: #015eaf;
    animation: buttonAnim 1.5s ease 0s 1 normal forwards;
}

.index-main-cards {
    display: flex;
    align-self: flex-start;
}

.index-main-card {
    padding: 5px;
    margin: 5px;
    width: 50%;
    display: inline-block;
}

.info-card {
    padding: 5px;
    margin: 5px;
    width: 200px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    transition: 0.3s;
}

.info-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.info-card p {
    padding: 10px;
    text-align: right;
}

.about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.about-card p {
    padding: 10px;
}

.benefit-cards {
    display: flex;
    flex-wrap: wrap;
}

.benefit-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 400px;
    flex-grow: 1;
}

.benefit-card p {
    padding: 10px;
}

#car-code,
#contact-first-name,
#contact-last-name,
#contact-phone,
#contact-email,
#contact-text,
#virtual-room-document-id,
#virtual-room-password {
    box-sizing: border-box;
    width: 100%;
}

.virtual-room-card {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
    width: 300px;
    height: 120px;
}

.virtual-room-card div {
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
}

.img-logo {
    height: 50px;
    object-fit: cover;
}

.virtual-room-red-button {
    background-color: #d93a3e;
    color: white;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

.virtual-room-red-button:hover {
    background-color: darkred;
    color: lightgray;
}

.red-text {
    color: #d93a3e;
}

.carousel-caption {
    text-align: left;
}

//import layouts
@import 'layout/index';
@import 'layout/mediaqueries';
