/* ABOUT LAYOUT */
.about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-card {
    @extend black-border;
    padding: $padding-size-small;
    margin: 5px;
    p {
        padding: $padding-size-normal;
    }
}
