/* BENEFIT LAYOUT */
.benefit-cards {
    display: flex;
    flex-wrap: wrap;
}

.benefit-card {
    @extend black-border;
    padding: $padding-size-small;
    margin: 5px;
    width: 400px;
    flex-grow: 1;
    p {
        padding: $padding-size-normal;
    }
}
