/* INDEX LAYOUT */
.info-card {
    padding: $padding-size-small;
    margin: 5px;
    width: 200px;
    display: inline-block;
    @include shadow(0.1);
    background-color: $white-color;
    transition: $transition-time;
    &:hover {
        @include shadow(0.2);
    }
    p {
        padding: $padding-size-normal;
        text-align: right;
    }
}
