/* MEDIAQUERIES LAYOUT */
@media only screen and (max-width: 768px) {
    .offcanvas-body {
        background-color: $navbar-main-background-color;
    }

    .index-main-cards {
        flex-direction: column-reverse;
    }

    .index-main-card {
        width: 100%;
    }

    .index-main-img {
        height: 150px;
    }

    .footer-text {
        font-size: x-small;
    }

    .grid-container div {
        text-align: start;
    }

    .grid-container {
        grid-template-areas:
            'item0 item2 item1'
            'item0 item3 item1'
            'item0 item4 item1'
            'item0 item5 item1'
            'item0 item6 item1'
            'item0 item7 item1'
            'item0 item8 item1';
    }

    .virtual-room-card {
        display: none;
    }

    #carouselVirtualRoom {
        display: none;
    }

    .img-virtual-room-header {
        display: inline;
    }

    @for $i from 0 through 1 {
        .item#{$i} {
            width: 5px;
        }
    }
}

/* Used for main page only */
@media only screen and (max-width: 454px) {
    .info-card {
        width: 100%;
    }
}
