/* FOOTER */
.grid-section {
    padding: $padding-size-none;
}

.footer-main-section {
    background-color: #333;
    color: white;
}

@for $i from 0 through 8 {
    .item#{$i} {
        grid-area: item#{$i};
        @if index((0, 1), $i) {
            width: 50px;
        }
        @if $i == 8 {
            p {
                text-align: center;
            }
        }
    }
}

.grid-container {
    display: grid;
    grid-template-areas:
        'item0 item2 item3 item4 item5 item1'
        'item0 item6 item6 item6 item7 item1'
        'item0 item8 item8 item8 item8 item1';
    gap: 3px;
    background-color: white;
    padding: 25px;
}

.grid-container div {
    background-color: white;
    padding: $padding-size-normal;
    font-size: 12px;
}

.footer-highlight-text {
    color: #036e9c;
    font-size: 12px;
    text-align: center;
}

.footer-text {
    /* calc based on three .footer-media widths and some adjustment */
    width: calc(100% - 70px);
    display: inline-block;
    vertical-align: text-top;
    font-size: 16px;
}

.footer-media {
    display: inline-block;
}

svg {
    fill: lightgray;
    width: 16px;
    height: 16px;
    transition: 0.3s;
    &:hover {
        fill: white;
        transform: scale(1.2);
    }
}
