/* NAVBAR */
.navbar {
    padding: $padding-size-none;
    margin: 0px;
}

.container-fluid {
    background-image: linear-gradient(to right, $navbar-main-background-color, $navbar-secondary-background-color);
}

.nav-link {
    color: $lightgray-color;
    padding-left: $padding-size-small;
    transition: $transition-time;
    &:hover {
        color: $black-color;
        background-color: $yellowgreen-color;
    }
}

.active {
    background-color: $lightgray-color;
    border-bottom: 3px solid $blue-color;
}

.navbar-toggler {
    background-color: $lightgray-color;
}

.offcanvas-header {
    background-color: $navbar-main-background-color;
}

.btn-close {
    background-color: $lightgray-color;
}
