.navbar {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    background-image: linear-gradient(to right, #08274e, #0c3e7b);
}

.nav-link {
    color: lightgray;
    padding-left: 5px;
    transition: 0.3s;
}

.nav-link:hover {
    color: black;
    background-color: yellowgreen;
}

.active {
    background-color: lightgray;
    border-bottom: 3px solid blue;
}

.navbar-toggler {
    background-color: lightgray;
}

.offcanvas-header {
    background-color: #08274e;
}

.btn-close {
    background-color: lightgray;
}
