/* RESET */
a {
    color: blue;
    text-decoration: none;
}

h1 {
    color: darkblue;
    padding-bottom: 20px;
}

h2 {
    color:dodgerblue;
    padding-bottom: 10px;
}

h3 {
    font-size: 21px;
    color: gray;
}

h4 {
    color: white;
    font-size: 30px;
}

section {
    padding: 15px;
}

article {
    padding-bottom: 30px;
}

article p {
    padding-bottom: 10px;
}

form {
    border: 1px solid black;
    padding: 5px;
}

form p {
    padding: 10px;
}

input {
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
