a {
    color: blue;
    text-decoration: none;
}

h1 {
    color: darkblue;
    padding-bottom: $padding-size-bigger;
}

h2 {
    color:rgb(3, 128, 252);
    padding-bottom: $padding-size-normal;
}

h3 {
    font-size: 21px;
    color: rgb(75, 75, 75);
}

h4 {
    color: white;
    font-size: 30px;
}

section {
    padding: $padding-size-big;
}

article {
    padding-bottom: 30px;
}

form {
    border: 1px solid black;
    padding: $padding-size-small;
}

form p {
    padding: $padding-size-normal;
}

input {
    border: 1px solid black;
    padding: $padding-size-small;
    font-size: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
