/* RESET */
body {
    background-color: $lightengray-color;
}

a {
    color: $blue-color;
    text-decoration: none;
}

h1 {
    color: $darkblue-color;
    padding-bottom: $padding-size-bigger;
}

h2 {
    color: $lightblue-color;
    padding-bottom: $padding-size-normal;
}

h3 {
    font-size: 21px;
    color: $darkgray-color;
}

h4 {
    color: $white-color;
    font-size: 30px;
}

section {
    padding: $padding-size-big;
}

article {
    padding-bottom: 30px;
}

form {
    @extend black-border;
    padding: $padding-size-small;
}

form p {
    padding: $padding-size-normal;
}

input {
    @extend black-border;
    padding: $padding-size-small;
    font-size: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
