/* EJEMPLOOOOOOO */
@mixin flex($direction, $justify, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    gap: $gap;
}

@keyframes buttonAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
