/* PADDINGS */
$padding-size-none: 0px;
$padding-size-small: 5px;
$padding-size-normal: 10px;
$padding-size-big: 15px;
$padding-size-bigger: 20px;

/* COLORS */
$navbar-main-background-color: #08274e;
$navbar-secondary-background-color: #0c3e7b;
$black-color: black;
$darkgray-color: rgb(75, 75, 75);
$lightgray-color: lightgray;
$lightengray-color: #f1f1f1;
$white-color: white;
$yellowgreen-color: yellowgreen;
$darkblue-color: darkblue;
$blue-color: blue;
$lightblue-color: rgb(3, 128, 252);
$lightblue-button-color: #0074D9;
$lightblue-button-color-obscure: #015eaf;
$red-color: #d93a3e;
$darkred-color: darkred;

/* TRANSITION */
$transition-time: 0.3s
